body{
    background-color: #f8f8f8;
    padding: 20px;
}
/* Form */
#form-container{
    background-color: #fff;
    border-radius: 20px;
    box-shadow: .5px 10px 15px rgba(0, 0, 0, .2);
    margin: 25px auto;
    padding: 30px;
}

#form-container h2{
    font-weight: 900;
    margin-bottom: 30px;
    text-align: center;
}
#form-container a{
    color: #222;
    transition: .2s;
}
#form-container a:hover{
    color: #6C63FF;
}

#form-container .form-control{
    border: none;
    border-bottom: 1px solid #CCC;
}
#form-container .form-control:focus{
    box-shadow: none;
}

#form-container .form-floating label{
    color: #CCC;
}
#form-container .form-floating > .form-control~label{
    color: #222;
}

.btn.btn-primary{
    width: 100%;
    margin-bottom: 25px;
}
#form-container button,
#form-container input[type="checkbox"]:checked{
    background-color: #6536FF;
    border-color:#6536FF ;
}

#link-container{
    text-align: center;
    margin-top: 25px;
}


/* Image */
.row.align-items-center{
    align-content: center;
    height: 100%;
}

@media(min-width: 720px){
    .btn.btn-primary{
        width: auto;
        margin-bottom: 0;
    }
}