<nav th:fragment="nav" class="navbar navbar-expand-lg bg-secondary p-2" id="bottom-navbar-container">
        <div class="container">
            <a class="navbar-brand">
                Store
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bottom-navbar"
                aria-controls="bottom-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list"></i>
            </button>
            <ul class="navbar-nav mb-2 mb-lg-0 collapse navbar-collapse justify-content-end" id="bottom-navbar">
                
                <li class="nav-item">
                    <a href="#" class="nav-link active">Produtos</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Usuários</a>
                </li>
            </ul>
        </div>
    </nav>